#Calculator {
    width: 50vw;
    height: 70vh;
    background-color: #656571;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#ScreenArea {
    background-color: #5d5d6e;
    height : 20vh;
    width: 60vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
#ButtonArea {
    background-color: #656571;
    height:50vh;
    width:60vw;
}



#baseLayer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    font-family: 'Calculator', sans-serif;
}
#Screen {
    height:10vh;
    width:50vw;
    background-color: black;
    color: green;
    font-size: 5vh; 
    align-content: center;
    display:flex;
    flex-wrap:wrap;
    justify-content:right;
    padding-right: 1vw;
}
.FlexRow {
    display:flex;
    align-items:center;
    justify-content:center;
    height:10vh;
    gap:5vw;
    margin-top:0.5vw;
}
.button {
    color:white;
    height:10vh;
    width:10vw;
    background:black;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;
    font-size:xxx-large;
}

.button.spacer {
    background-color: #656571;
}
